$head-color: #a84c15;
$title-color: #cba349;
$bg-color: #f2ede4;


$xl: 1440px;
$lg: 1366px;
$tab: 1024px;
$m2: 700px;
$sm: 500px;

@mixin rwd($screen) {
  @media (max-width: $screen+"px") {
    @content;
  }
}

@mixin xl {
  @media screen and (max-width: #{$xl}) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: #{$lg}) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: #{$tab}) {
    @content;
  }
}

@mixin m2 {
  @media screen and (max-width: #{$m2}) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: #{$sm}) {
    @content;
  }
}

