.where {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include tab {
      flex-direction: column;
      align-items: center;
  }
  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    &:first-child {
      margin-right: 20px;

      @include tab {
          margin: 0;
      }
    }
    &:last-child {
      margin-left: 20px;

      @include tab {
          margin: 0;
      }
    }
  }
  &__name {
  }
  &__item {
    margin-bottom: 60px;

    h3 {
      font-family: "Baskerville Old Face";
      font-size: 30px;
      text-align: center;
      color: #040404;
      margin-bottom: 15px;

      @include lg {
          font-size: 20px;
      }
    }
    p {
      font-size: 25px;
      text-align: center;
      color: #040404;
      opacity: 0.8;
      margin-bottom: 15px;

      @include lg {
          font-size: 17px;
      }
    }
  }
}
